# Model
model/data/
model/train.py
model/README.md

# Documentation
README.md

# Version control
.gitignore

# Docker files
.dockerignore
Dockerfile
docker-compose.yml

# Python virtual environment
venv/

# Development environment
venv/
.env.local
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS specific files
.DS_Store
.idea/
.vscode/
*.swp
*.swo