# MNIST DIGIT RECOGNISER REQUIREMENTS FOR WEB APPLICATION CONTAINER

# Connect to PostgreSQL
psycopg2-binary>=2.9.9

# Web app framework
streamlit>=1.32.0

# Drawing canvas for user input 
streamlit-drawable-canvas>=0.9.3

# Deep Learning Framework
torch>=2.2.0